///
/// A 2 column image/text layout that has modifies to control the
/// vertical alignment of the text.
///
/// @name flag
/// @group objects
///
/// @example
///     <div class="flag [flag--top flag--bottom flag--rev]">
///         <div class="flag__img">
///             <img src="" alt="">
///         </div>
///         <div class="flag__body">
///             <p></p>
///         </div>
///     </div>
///

.flag {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr;
    grid-column-gap: $base-spacing-unit;
    grid-row-gap: $base-spacing-unit;
    margin-bottom: $base-spacing-unit;

    @include media-query(lap-and-up) {
        grid-template-columns: 1fr 1fr;
    }
}

    .flag__img {
        img {
            width: 100%;
        }
    }

    .flag--top {
        align-items: start;
    }

    .flag--bottom {
        align-items: end;
    }

    .flag--rev {
        .flag__body {
            order: -1;
        }
    }
