///
/// A basic abstraction for a padded block-level element
/// http://csswizardry.com/2011/10/the-island-object/
///
/// @name island
/// @group objects
///
/// @example
///     <div class="island [islet]">
///         <p></p>
///     </div>
///

.island {
    @include clearfix;
    display: block;
    margin-bottom: $base-spacing-unit;
    padding: $base-spacing-unit;

    > :last-child {
        margin-bottom: 0;
    }
}

