///
/// Place any image and text-like content side-by-side.
/// http://stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code
///
/// @name media
/// @group objects
///
/// @example
///     <div class="media">
///         <img class="media__img [media__img--rev]" src="" alt="">
///         <p class="media__body">
///             Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
///             incididunt ut labore et dolore magna aliqua.
///         </p>
///     </div>
///

.media {
    display: flex;
    align-items: flex-start;
    margin-bottom: $base-spacing-unit;
}

    .media__img {
        margin-right: $base-spacing-unit;
    }

    .media__body {
        flex: 1;

        > :last-child {
            margin-bottom:0;
        }
    }

.media--rev {
    flex-direction: row-reverse;

    .media__img {
        margin-right: 0;
        margin-left: $base-spacing-unit;
    }
}

.media--middle {
    align-items: center;
}
