///
/// The default type and border properties (colours, sizing, font) and
/// well as the default spacing measurement that is used for the grid
/// gutters and components default padding/margins.
///
/// @name Defaults
/// @group settings
///

///
/// Default typography font size
///
$base-font-size: 16px !default;

///
/// Default typography styles
///
$base-font-family: "Open Sans", Helvetica, sans-serif !default;
$secondary-font-family: "Bitter", Georgia, serif !default;
$base-line-height: 1.375 !default;

///
/// Default font colors
///
$base-font-color: getColour('grey', 'dark') !default;
$action-color: getColour('blue') !default;

///
/// Default border styles
///
$base-border-radius: 3px !default;
$base-border-color: getColour('grey', 'light') !default;
$base-border: 1px solid $base-border-color !default;

///
/// Default background colours
///
$base-background-color: #fff !default;
$secondary-background-color: getColour('grey', 'light') !default;

///
/// Default notification colours
///
$info-color: $base-font-color !default;
$success-color: getColour('green') !default;
$warning-color: getColour('yellow') !default;
$danger-color: getColour('red') !default;

///
/// Default spacing units
///
$base-spacing-unit: $base-line-height * 1rem !default;
$half-spacing-unit: $base-spacing-unit / 2 !default;
$double-spacing-unit: $base-spacing-unit * 2 !default;
