html {
    // Default font size is $base-font-size
}

h1, .alpha, %alpha {
    font-size: 2em;
    line-height: 1.25;
    font-weight: 400;
    font-family: $secondary-font-family;

    @include media-query(lap-and-up) {
        font-size: 3em;
    }

    .wysiwyg-output & {
        margin: 1em 0 0.5em;
    }
}

h2, .beta, %beta {
    font-size: 1.75em;
    line-height: 1.25;
    font-weight: 400;
    font-family: $secondary-font-family;

    @include media-query(lap-and-up) {
        font-size: 2.5em;
        line-height: 1.25;
    }

    .wysiwyg-output & {
        margin: 1em 0 0.5em;
    }
}

h3, .gamma, %gamma {
    font-size: 1.5em;
    line-height: 1.25;
    font-weight: 400;
    font-family: $secondary-font-family;

    @include media-query(lap-and-up) {
        font-size: 2em;
    }

    .wysiwyg-output & {
        margin: 1em 0 0.5em;
    }
}

h4, .delta, %delta {
    font-size: 1.25em;
    line-height: 1.25;
    font-weight: 400;
    font-family: $secondary-font-family;

    @include media-query(lap-and-up) {
        font-size: 1.5em;
    }

    .wysiwyg-output & {
        margin: 1em 0 0.5em;
    }
}

h5, .epsilon, %epsilon {
    font-size: 1.25em;
    line-height: 1.25;
    font-weight: 400;
    font-family: $secondary-font-family;

    .wysiwyg-output & {
        margin: 1em 0 0.5em;
    }
}

h6, .zeta, %zeta {
    font-size: 1em;
    font-weight: 400;
    font-family: $secondary-font-family;

    .wysiwyg-output & {
        margin: 1em 0 0.5em;
    }
}

p {
    .wysiwyg-output & {
        margin: 0 0 1.5em;
    }
}

li {
    .wysiwyg-output & {
        display: list-item;
        margin-left: 1.2em;
    }
}

.wysiwyg-output {
    > *:first-child {
        margin-top: 0;
    }
    > *:last-child {
        margin-bottom: 0;
    }
}
